@import url(https://fonts.googleapis.com/css?family=Poppins);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  select {
    @apply appearance-none;
  }
  .form-label {
    @apply inline-block mb-2 text-black-2e2 font-medium;
  }

  .form-control {
    @apply focus:bg-white focus:border-border focus:text-body focus:outline-none block w-full px-3 py-1.5 text-sm font-normal text-body bg-white bg-clip-padding border border-solid border-border rounded-xl transition ease-in-out m-0;
  }
  .large-input {
    @apply px-3 py-2 text-base
  }
  .bg-gradient {
    background: transparent linear-gradient(266deg, #993680 0%, #2F1A59 81%) no-repeat padding-box;
  }
  .theme-heading-box {
    @apply bg-gradient px-5 py-3 text-white;
  }
  input[type=checkbox], input[type=radio] {
    @apply accent-[#993680];
  }
  .accent_green {
    @apply accent-green !important;
  }
  .scale_img {
    @apply max-w-full h-auto m-auto;
  }

  .scale_icon-24 {
    @apply max-h-6 w-auto m-auto;
  }

  .scale_icon-18 {
    @apply max-h-[18px] w-auto m-auto;
  }
  .img_scale {
    @apply max-w-full h-auto;
  }
  .product_sort_filter {
    @apply cursor-pointer;
  }
  .product_sort_filter.active {
    @apply text-theme font-medium border-b border-b-theme cursor-pointer;
  }
}