@import url(https://fonts.googleapis.com/css?family=Poppins);
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  select {
    @apply appearance-none;
  }
  .form-label {
    @apply inline-block mb-2 text-black-2e2 font-medium;
  }
  .form-control {
    @apply placeholder:text-placeholder-aaa focus:bg-white focus:border-border focus:text-body focus:outline-none block w-full px-3 py-1.5 text-sm font-normal text-body bg-white bg-clip-padding border border-solid border-border rounded-xl transition ease-in-out m-0;
  }
  .large-input {
    @apply px-3 py-2 text-base
  }
  .homegetlinkinput {
    @apply border-body focus:border-body py-2 text-base placeholder:text-placeholder-ccc border-r-0 -mr-1 pr-4;
  }
  .salonboxinput {
    @apply border-black-707 focus:border-black-707 py-2 text-base text-black-685 placeholder:text-black-685;
  }
  .salonsearchinput {
    @apply border-black-707 focus:border-black-707 py-2 text-base text-placeholder placeholder:text-placeholder;
  }
  .queryform .form-label{
    @apply text-black-605;
  }
  .queryform input, .queryform textarea, .queryform select{
    @apply placeholder:text-black-7d7 text-black-7d7;
  }
  .bg-gradient {
    background: transparent linear-gradient(266deg, #993680 0%, #2F1A59 81%) no-repeat padding-box;
  }
  .theme-heading-box {
    @apply bg-gradient px-5 py-3 text-white;
  }
  input[type=checkbox], input[type=radio] {
    @apply accent-[#993680] cursor-pointer;
  }
  .accent_green {
    @apply accent-green !important;
  }
  .scale_img {
    @apply max-w-full h-auto m-auto;
  }

  .scale_icon-24 {
    @apply max-h-6 w-auto m-auto;
  }

  .scale_icon-18 {
    @apply max-h-[18px] w-auto m-auto;
  }
  .img_scale {
    @apply max-w-full h-auto;
  }
  .product_sort_filter {
    @apply cursor-pointer;
  }
  .product_sort_filter.active {
    @apply text-theme font-medium border-b border-b-theme cursor-pointer;
  }
  .modal {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .selectcitymodal {
    @apply w-full min-h-[300px] max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-[0px_3px_6px_#00000029] transition-all
  }
  .numberProceedModal {
    @apply w-full border border-black-707 max-w-md transform overflow-hidden rounded-2xl bg-white p-6 align-middle shadow-none transition-all;
  }
  .cityModal {
    @apply w-full max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-[0px_3px_6px_#00000029] transition-all text-[#100E0E]
  }
  .custom_button {
    transition: 0.3s;
    @apply bg-gradient rounded-[13px] text-center py-[6px] px-[25px] text-white font-medium no-underline text-[13px] outline-0 cursor-pointer disabled:opacity-50 disabled:pointer-events-none;
  }
}