@import url(https://fonts.googleapis.com/css?family=Poppins);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-label {
    @apply inline-block mb-2 text-body
  }

  .form-control {
    @apply focus:bg-white focus:border-body focus:text-body focus:outline-none block w-full px-3 py-1.5 text-base font-normal text-body bg-white bg-clip-padding border border-solid border-body rounded transition ease-in-out m-0;
  }
  .active {
    @apply border-solid border-b-2
  }
  .bg-gradient {
    background: transparent linear-gradient(266deg, #993680 0%, #2F1A59 81%) no-repeat padding-box;
  }
  .theme-heading-box {
    @apply bg-gradient px-5 py-3 rounded-t-3xl text-white
  }
}