@import url(https://fonts.googleapis.com/css?family=Poppins);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-label {
    @apply inline-block mb-2 text-body
  }

  .form-control {
    @apply focus:bg-white focus:border-body focus:text-body focus:outline-none block w-full px-3 py-1.5 text-base font-normal text-body bg-white bg-clip-padding border border-solid border-body rounded transition ease-in-out m-0;
  }
  .active {
    @apply border-solid border-b-2
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  font-size: 14px !important;
  color: #3D363A;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: 400;
}

a {
  color: #000000;
  text-decoration: none !important;
  cursor: pointer;
}

a:active,
a:hover,
a:focus {
  text-decoration: underline;
}
img,
svg {
  vertical-align: middle;
}

.scale_img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.img_scale {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 14px;
}

hr {
  margin: 1rem 0;
  height: 0px;
  color: #827E81;
  border-top-width: 1px;
}
.cursor-pointer {
  cursor: pointer;
}

.card_box1 {
  background: #D51E4A;
}
.card_box2 {
  background: #ff6f00;
}
.card_box3 {
  background: #8b2e5d;
}
.card_box4 {
  background: #eeac16;
}
.card_box5 {
  background: #d32f2f;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-moz-selection {
  color: #fff;
  background: #993680;
}

::selection {
  color: #fff;
  background: #993680;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #993680;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #993680;
}

.custom_button {
  background: transparent linear-gradient(250deg, #993680, #2f1a59 81%) 0 0 no-repeat padding-box;
  border-radius: 7px;
  text-align: center;
  padding: 6px 30px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  font-size: 13px;
  outline: none;
  border: 0.5px solid #2f1a59;
}

.custom_button:hover {
  background: #fff;
  color: #2f1a59;
  border: 0.5px solid #2f1a59;
  text-decoration: none;
}

.sendLinkBtn {
  white-space: nowrap;
  background: #2A3133 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  padding: 8px 20px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  outline: none;
}
.back_button {
  background: #FFFFFF no-repeat padding-box;
  border-radius: 7px;
  text-align: center;
  padding: 6px 30px;
  color: #241E1E;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  outline: none;
  border: 0.5px solid #241E1E;
}

.form-control {
  border: 1px solid #CCC9C9;
  box-shadow: none;
  color: #000;
  height: 40px;
  font-size: 14px !important;
}

.form-control:focus {
  color: #000 !important;
  background-color: #fff;
  border-color: #CCC9C9 !important;
  outline: 0;
  box-shadow: none !important;
}

input[type=checkbox] {
  accent-color: #993680;
}

.form_check {
  display: block;
  min-height: 1.5rem;
  margin-bottom: 0.125rem;
}

.form_check label {
  display: inline-block;
  margin-left: 10px;
}

.line_clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}


.custom_drawer {
  /*  position: fixed;
  overflow-y: auto;
  width: 280px;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh; */
  background: #993680;
  /* z-index: 1300;
  transition: opacity 0.3s ease 0s, transform 0s ease 0.3s; */
}

/* .drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
} */

.theme-bg {
  background: url(./images/testimonial-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.service-bg {
  background:linear-gradient(30deg, #ECEEF0 60%, #561334 30%);
}
.footer-bg {
  background: url(./images/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.corner::before, .corner::after {
    border-color: #b13592;
    border-width: 5px;
    content: "";
    display: block;
    height: 18px;
    pointer-events: none;
    position: absolute;
    width: 18px;
    border-style: none;
}
.corner.upper_corner::before {
    border-left-style: solid;
    border-top-style: solid;
    left: -5px;
    top: -5px;
}
.corner.upper_corner::after {
  border-bottom-style: solid;
  border-left-style: solid;
  bottom: -5px;
  left:-5px;
}

.corner.lower_corner::before {
    border-right-style: solid;
    border-top-style: solid;
    top: -5px;
    right: -5px;
}
.corner.lower_corner::after {
  border-bottom-style: solid;
  border-right-style: solid;
  bottom: -5px;
  right: -5px;
}
