.pricerangeslider.range-slider .range-slider__range {
    background: #8B2E5D;
}
.pricerangeslider.range-slider .range-slider__thumb {
    background: #FFFFFF;
    border:1px solid #685F65;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    overflow: hidden;
}
.datepickerCalender {
    background: url(../icons/calendar.webp) no-repeat right;
    background-size: 15px;
    background-position:95%;
}
.ReactModal__Overlay {
    background-color: rgb(46 46 46 / 0.8) !important;
    z-index: 1300;
}
.ReactModal__Content:focus-visible {
    outline: none;
}
.loader {
	border-top-color: #8B2E5D;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media only screen and (min-width: 1600px) {
    .banner_img {
       width: 100vw !important;
    }
}