.slick-track {
    display: flex !important;
}
.slick-slide {
    height: inherit !important;
}
.slick-slide > div {
    height: 100% !important;
}
.home_banner_slider .slick-dots {
    bottom: 15px !important;
}
.home_banner_slider .slick-dots li button:before {
    font-size: 12px;
    color: #685F65;
    opacity: 1;
}
.home_banner_slider .slick-dots li.slick-active button:before, .home_banner_slider .slick-dots li:hover button:before {
    color: #561334;
    opacity: 1;
}
.beauty_slider .slick-prev {
    left: -27px !important;
    z-index: 1;
    color: #561334 !important;
}
.beauty_slider .slick-next {
    right: -35px !important;
    z-index: 1;
    color: #561334 !important;
}
.review_slider .slick-prev {
    top: 34% !important;
    left: -65px !important;
    z-index: 1;
    color: #561334 !important;
}
.review_slider .slick-next {
    top: 34% !important;
    right: -70px !important;
    z-index: 1;
    color: #561334 !important;
}
.service_slider .slick-prev {
    left: -35px !important;
    z-index: 1;
    color: #2E2E2E !important;
}
.service_slider .slick-next {
    right: -35px !important;
    z-index: 1;
    color: #2E2E2E !important;
}
.beauty_service_slider .slick-prev {
    top: 42% !important;
    left: -40px !important;
    z-index: 1;
    color: #2E2E2E !important;
}
.beauty_service_slider .slick-next {
    top: 42% !important;
    right: -46px !important;
    z-index: 1;
    color: #2E2E2E !important;
}

.testi_slider .slick-next, .testi_slider .slick-prev{
    z-index: 1;
    color: #707070 !important;
}
.testi_slider .slick-slide.slick-current.slick-active {
    transform: scale(0.8);
}
.testi_slider .slick-slide.slick-active {
    transform: scale(0.8);
}
.testi_slider .slick-slide.slick-current+.slick-active {
    transform: scale(1);
}

@media only screen and (max-width: 600px) {
    .beauty_slider .slick-prev {
        left: -15px !important;
    }
    .beauty_slider .slick-next {
        right: -15px !important;
    }
    .service_slider .slick-prev {
        left: -15px !important;
    }
    .service_slider .slick-next {
        right: -15px !important;
    }
    .beauty_service_slider .slick-prev {
        left: -15px !important;
    }
    .beauty_service_slider .slick-next {
        right: -15px !important;
    }
    .review_slider .slick-prev {
        left: -45px !important;
        z-index: 1;
        color: #561334 !important;
    }
    .review_slider .slick-next {
        right: -45px !important;
        z-index: 1;
        color: #561334 !important;
    }
}