.slick-track {
    display: flex !important;
}
.slick-slide {
    height: inherit !important;
}
.slick-slide > div {
    height: 100% !important;
}
.home_banner_slider .slick-dots {
    bottom: 15px !important;
}
.home_banner_slider .slick-dots li button:before {
    font-size: 12px;
    color: #685F65;
    opacity: 1;
}
.home_banner_slider .slick-dots li.slick-active button:before, .home_banner_slider .slick-dots li:hover button:before {
    color: #561334;
    opacity: 1;
}
.beauty_slider .slick-prev {
    left: -30px !important;
    z-index: 1;
    color: #561334 !important;
}
.beauty_slider .slick-next {
    right: -40px !important;
    z-index: 1;
    color: #561334 !important;
}
.review_slider .slick-prev {
    top: 34% !important;
    left: -65px !important;
    z-index: 1;
    color: #561334 !important;
}
.review_slider .slick-next {
    top: 34% !important;
    right: -70px !important;
    z-index: 1;
    color: #561334 !important;
}
.service_slider .slick-prev {
    left: -35px !important;
    z-index: 1;
    color: #2E2E2E !important;
}
.service_slider .slick-next {
    right: -35px !important;
    z-index: 1;
    color: #2E2E2E !important;
}
.beauty_service_slider .slick-prev {
    top: 43% !important;
    left: -40px !important;
    z-index: 1;
    color: #2E2E2E !important;
}
.beauty_service_slider .slick-next {
    top: 43% !important;
    right: -46px !important;
    z-index: 1;
    color: #2E2E2E !important;
}
.beauty_pkg_slider .slick-prev {
    top: 40% !important;
    left: -31px !important;
    z-index: 1;
    color: #2E2E2E !important;
}
.beauty_pkg_slider .slick-next {
    top: 40% !important;
    right: -37px !important;
    z-index: 1;
    color: #2E2E2E !important;
}
.testi_slider .slick-next, .testi_slider .slick-prev{
    z-index: 1;
    color: #707070 !important;
}
.testi_slider .slick-slide.slick-current.slick-active {
    transform: scale(0.8);
}
.testi_slider .slick-slide.slick-active {
    transform: scale(0.8);
}
.testi_slider .slick-slide.slick-current+.slick-active {
    transform: scale(1);
}
.product_slider .slick-prev {
    top: calc(100% - 40px) !important;
    left: calc(100% - 60px) !important;
    z-index: 1;
}
.product_slider .slick-next {
    top: calc(100% - 40px) !important;
    right: 20px !important;
    z-index: 1;
}
.product_slider .slick-prev:before {
    font-family: unset !important;
    content: "<";
    color: #0f0d0e;
    font-size: 30px;
}
  
.product_slider .slick-next:before {
    font-family: unset !important;
    content: ">";
    color: #0f0d0e;
    /* color: #949494; */
    font-size: 30px;
}
.product_slider .slick-dots {
    bottom: 15px !important;
    left:2% !important;
    width: unset;
}
.product_slider .slick-dots .slick-active button{
    border: 0.5px solid #949494;
    border-radius: 50%;
}
.insti_testi_slider .slick-prev, .insti_testi_slider .slick-next{
   height: unset !important;
   width: unset !important;
}
.insti_testi_slider .slick-prev {
    top: 70% !important;
    left: -40% !important;
    z-index: 1;
    color: #3D363A;
}
.insti_testi_slider .slick-next {
    top: 70% !important;
    left: -32% !important;
    z-index: 1;
    color: #3D363A;
}
.insti_testi_slider .slick-next:hover, .insti_testi_slider .slick-prev:hover {
    color: #3D363A !important;
}
@media only screen and (max-width: 600px) {
    .beauty_slider .slick-prev {
        left: -15px !important;
    }
    .beauty_slider .slick-next {
        right: -15px !important;
    }
    .service_slider .slick-prev {
        left: -15px !important;
    }
    .service_slider .slick-next {
        right: -15px !important;
    }
    .beauty_pkg_slider .slick-prev {
        left: -15px !important;
    }
    .beauty_pkg_slider .slick-next {
        right: -15px !important;
    }
    .beauty_service_slider .slick-prev {
        left: -15px !important;
    }
    .beauty_service_slider .slick-next {
        right: -15px !important;
    }
    .review_slider .slick-prev {
        left: -45px !important;
        z-index: 1;
        color: #561334 !important;
    }
    .review_slider .slick-next {
        right: -45px !important;
        z-index: 1;
        color: #561334 !important;
    }
}